<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Examples</title>
    <script src="https://unpkg.com/vue@3.2.26"></script>
</head>

<body>
    <div id="app">
        <app-header></app-header>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>
    <script>
        const app = Vue.createApp({});
        app.component('app-header', {
            template: '<h1>Button counter App</h1>'
        });
        app.component('button-counter', {
            data() {
                return {
                    counter: 0
                }
            },
            template: `
                <button v-on:click="counter++">You clicked me {{ counter }} times.</button>
            `
        });
        app.mount('#app');

    </script>
</body>

</html>