<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Examples</title>
    <script src="https://unpkg.com/vue@3.2.26"></script>
</head>

<body>
    <div id="app">
        <h2>Counter: {{ counter }} </h2>
        <button-counter @add-plus-one="counter++"></button-counter>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    counter: 0
                }
            }
        });
        app.component('button-counter', {
            template: `
                <button @click="addPlusOne">Increment</button>
            `,
            methods: {
                addPlusOne() {
                    this.$emit('addPlusOne');
                }
            }
        });
        app.mount('#app');

    </script>
</body>

</html>